<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow">
                <img src="https://unsplash.com/photos/m1PFxGQ-5x0/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ2MDc3MDUy&force=true&w=1920" alt="" class="card-img-top p-0">
            <div class="card-body">
                <h4 class="card-title text-center">Login</h4>
                <form action="/login" method="post" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username: &emsp;</label>
                        <input class="form-control" type="text" placeholder="username" name="username" id="username" autofocus required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Passwords &emsp;</label>
                        <input class="form-control" type="password" placeholder="password" name="password" id="password" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>     
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </div>           
                    
                </form>
            </div>
        </div>
    </div>
</div>
